// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

//Clearfix
.cf:after {
  content: "";
  display: table;
  clear: both;
}


h1, h2, h3, h4, h5, h6 {
	color: $headerFontColor;
	font-family:$headerFontFamily;
	font-weight:$headerFontWeight;
}

h1 {
	font-size:38px;
}

h2 {
	font-size:36px;
}

h4 {
	font-size:20px;
	font-weight:bold;
}

p {
	font:$bodyFontWeight $bodyFontSize/$bodyLineHeight $bodyFontFamily;
}

body {font-smooth: always;}

.header {
	background:rgba(27, 24, 32, 0.90);
	height:81px;
	position:absolute;
	width:100%;
	z-index:100;
	.logo {
		height:81px;
		line-height:81px;
		img {
			height:39px;
			margin-top:-10px;
			vertical-align:middle;
			width:108px; }}
	.nav {
		font-family:$bodyFontFamily;
		font-smooth: always;
		height:81px;
		margin-right:25px;
		text-align:right;
	}
	.nav a {
		color:#827791;
		font-family:$bodyFontFamily;
		font-size:12px;
		font-weight:600;
		line-height:81px;
		margin-left:25px;
		text-align:right;
		text-transform:uppercase;
		&:hover {
			color:#fff; }}}

.slider {
	padding:0;
	margin:0 auto;
	max-width:1220px;
	overflow:hidden;
	position:relative;
	z-index:1;
	ul li {
		list-style-type:none;
		margin:0;
		padding:0;
		position:relative;}
	.bx-next{
		background: transparent url(../images/next.png) top left no-repeat;
		height:60px;
		opacity:0.6;
		position: absolute;
		right: 0;
		text-indent:-9999px;
		top: 295px;
		width:40px;}
	.bx-prev{
		background: transparent url(../images/prev.png) top left no-repeat;
		height:60px;
		left: 0;
		opacity:0.6;
		position: absolute;
		text-indent:-9999px;
		top: 295px;
		width:40px;}
	img {
		width:100%;
		z-index:-1;	}
	.telephone {
		background: transparent url(../images/telephone.png) top left no-repeat;
		color:#fff;
		padding-left:23px;
		position:absolute;
		right:49px;
		top:99px;
		z-index:100;}
	.artist {
		color:#fff;
		font-family:$bodyFontFamily;
		font-smooth: always;
		left:13px;
		position:absolute;
		top:624px;
		img {
			float:left;
			height:35px;
			margin-right:10px;
			width:35px; }
		div {
			float:left;
			margin-top:5px;}
		span {
			display:block;
			font-size:12px;}
		p {
			font-size:14px;
			font-weight:600;
			line-height:100%;}}}

#slider-details {
	display:block;
	position:absolute;
	text-align:center;
	top:0px;
	width:100%;
	z-index:300;
	.video {
		height:167px;
		left:50%;
		margin-left:-94px;
		position:absolute;
		top:185px;
		width:188px;}
	.headlines {
		position:absolute;
		top:430px;
		width:100%;
		h1 {
			color:#fff;	
			margin-top:0;
			text-align:center;
			text-shadow:1px 1px 2px #161319;
			width:100%;}
		p {
			color:#fff;
			font-size:16px;
			font-weight:600;
			line-height:16px;
			text-align:center;
			text-shadow:1px 1px 2px #161319;}}
	.signup {
		background: transparent url(../images/signup.png) top left no-repeat;
		height:57px;
		left:50%;
		margin-left:-95px;
		position:absolute;
		top:520px;
		width:191px;}}

.platform {
	height:755px;
	position:relative;
	.headlines {
		position:absolute;
		top:65px;
		width:100%;
		h2 {
			color:#4a4356;	
			margin-top:0;
			margin-bottom:20px;
			text-align:center;
			width:100%;}
		p {
			color:#706b77;
			font-size:14px;
			font-weight:600;
			line-height:5px;
			text-align:center;}}
	.macbook {
		background: transparent url(../images/macbookpro.png) top left no-repeat;
		display:block;
		height:296px;
		margin:0 auto;
		position:relative;
		top:210px;
		width:499px;}
	.column-container {
		clear:both;
		position:relative;
		margin:0 auto;
		text-align:center;
		top:265px;
		width:950px;
		.column {
			display:inline-block;
			margin-right:85px;
			text-align:left;
			width:260px;
			.label {
				background:#fff;
				border:1px solid #d0c7d2;
				border-radius:4px;
				box-shadow:1px 1px 1px #eae5ee;
				color:#6f638a;
				display:inline-block;
				font-size:11px;
				font-weight:600;
				margin-bottom:15px;
				padding:3px 9px 3px;
				text-transform:uppercase;}
			h4 {
				color:#4a4356;
				margin-bottom:10px;
				margin-top:0;}
			p {
				color:#706b77;}}
		.column:last-child{
			margin:0 !important;}}
	.right-thumbs {
		background: transparent url(../images/right-thumbs.png) top left no-repeat;
		display:block;
		height:356px;
		position:absolute;
		right:0;
		top:145px;
		width:322px;}
	.left-thumbs {
		background: transparent url(../images/left-thumbs.png) top left no-repeat;
		display:block;
		height:356px;
		left:0;
		position:absolute;
		top:145px;
		width:322px;}}

.tour {
	background: url(../images/tour-background.gif) top center no-repeat;
	border-top: 1px solid #d5d5d5;
	box-shadow: inset 0 3px 3px #f9f9f9;
	height:670px;
	position:relative;
	width:100%;
	.headlines {
		position:absolute;
		text-align:center;
		top:80px;
		width:100%;
		h2 {
			color:#4a4356;	
			margin-top:0;
			margin-bottom:20px;
			text-align:center;
			width:100%;}
		p {
			color:#706b77;
			font-size:14px;
			font-weight:600;
			line-height:5px;
			text-align:center;}
		.label {
			background:#fff;
			border:1px solid #d0c7d2;
			border-radius:4px;
			box-shadow:1px 1px 1px #eae5ee;
			color:#6f638a;
			display:inline-block;
			font-size:11px;
			font-weight:600;
			margin:25px auto;
			padding:3px 9px 3px;
			text-transform:uppercase;}}
	.column-container {
		clear:both;
		position:relative;
		margin:0 auto;
		text-align:center;
		top:265px;
		width:950px;
		.column {
			display:inline-block;
			margin-right:85px;
			text-align:center;
			width:260px;
			.label {
				background:#fff;
				border:1px solid #d0c7d2;
				border-radius:4px;
				box-shadow:1px 1px 1px #eae5ee;
				color:#6f638a;
				display:inline-block;
				font-size:11px;
				font-weight:600;
				margin-bottom:15px;
				padding:3px 9px 3px;
				text-transform:uppercase;}
			h4 {
				color:#4a4356;
				margin-bottom:10px;
				margin-top:35px;}
			p {
				color:#706b77;}}
		.column:last-child{
			margin:0 !important;}
		.column:nth-child(2){
			margin-top:60px;}}
	.start-your-account {
		background: transparent url(../images/start-your-account.png) top left no-repeat;
		bottom:-50px;
		display:block;
		height:101px;
		left:50%;
		margin-left:-469px;
		position:absolute;
		width:937px;
		z-index:300;
		p {
			color:#4a4356;
			font-size:18px;
			line-height:101px;
			margin-left:85px;
			a.signup {
				background: transparent url(../images/signup.png) top left no-repeat;
				display:inline-block;
				height:57px;
				margin-left:68px;
				vertical-align:middle;
				width:191px;}}}}

.reviews {
	border-top: 1px solid #d5d5d5;
	box-shadow: inset 0 3px 3px #f9f9f9;
	height:713px;
}

.footer {
	background:#f4f4f4;
	border-top: 1px solid #cacaca;
	box-shadow: inset 0 3px 3px #f9f9f9;
	height:213px;
	.nav a {
		color:#686868;
		font-family:$bodyFontFamily;
		font-size:12px;
		font-weight:600;
		line-height:81px;
		margin-right:25px;
		text-align:left;
		text-transform:uppercase;}
	.last {
		border:1px solid #c4b8c6;
		margin-right:0 !important;
		padding: 4px 5px; }}